@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../style/nav.css");

@font-face {
    font-family: Pacifico;
    src: url("../../public/fonts/Pacifico-Regular.ttf");
}

:is(.dark *){
    color: #aaa;
}


body{
    scroll-behavior: smooth;
}
