@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../style/nav.css");

@font-face {
    font-family: Pacifico;
    src: url("../../public/fonts/Pacifico-Regular.ttf");
}

*{
    scroll-behavior: smooth;
}

:is(.dark *){
    color: #aaa;
}


body{
    scroll-behavior: smooth;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: #aaa;
}

:is(.dark div)[contentEditable=true]:empty:not(:focus):before {
    color: #777;
}